* {
	font-family: sans-serif;
}

body {
	margin: 0;
	padding: 0;
	background: url(../img/body-background.jpg) 100% fixed;
	background-size: cover;
}

section {

}

.layout-wrap {
	width: 950px;
	margin: 0 auto;
	padding: 25px 10px 0 10px;
}

header {
	height: 74px;
	width: 100%;
	background: black;
}

.logo {
	display: inline-block;
	float: left;
}

.search-box {
	float: right;
	margin: 3px 0 0 0;
}

.search-box input {
	height: 25px;
}

.page-body {
	background: rgba(116, 116, 116, 0.4);
}

.notifications {
	background: rgb(235, 235, 235);
	padding: 5px;
	margin: -15px 1px 10px 0;
	font-size: 0.8em;
}

.menu:hover .action-list {
	display: block;
}

.menu-caption {
	display: inline-block;
	text-align: left;
	padding: 5px 10px 5px;
	background: rgba(235, 235, 235, 1);
	position: relative;
	width: 284px;
}

.menu-caption:hover {
	background: rgba(235, 235, 235, 0.9);
}

.menu-caption::after {
	content: url(../img/icons/arrow.png);
	float: right;
	margin: -20px 0;
    -moz-transition:0.5s all;
    -webkit-transition:0.5s all;
}

.menu:hover .menu-caption::after {
	transform: rotate(180deg);
}

.menu-caption p {
	margin: 0 !important;
	color: rgb(84, 84, 84);
}

.action-list {
	margin: 0;
	padding: 0 20px 0 20px;
	list-style: none;
	text-align: left;
	display: none;
	position: absolute;
	width: 264px;
	background: white;
	transition: height 2s;
	-webkit-transition: height 2s;
}

.action-list-item {
	padding: 10px 0 10px 0;
	margin: 0;
	border-bottom: 1px solid lightgrey;
}

.action-list-item a:link, .action-list-item a:visited {
	text-decoration: none;
	color: rgb(79, 79, 79);
}

.action-list-item:last-child {
	border: none;
}

.nav-section {
	width: 304px;
	height: 140px;
	display: inline-block;
	margin-right: 1.5%;
	color: white;
	text-align: center;
}

.nav-section:last-child {
	margin-right: 0;
}

.nav-section p {
	margin: 5px 0 71px 0;
}

#quick-reports, #my-folders, #my-team-folders, #public-folders {
	display: none;
}

.tabs {
	
}

.tabs-headers {
	list-style-type: none;
	padding: 0;
}

.tab-item {
	float: left;
	background: rgb(100, 100, 100);
	width: 224px;
	height: 30px;
	margin: -5px 18px 0 0;
	padding-top: 10px;
	text-align: center;
}

.tab-item:last-child, .active-tab-item:last-child {
	margin: -5px 0 0 0;
}

.tab-item a:link, .tab-item a:visited {
	text-decoration: none;
	color: white;
}

.active-tab-item {
	float: left;
	background: rgb(235, 235, 235);
	width: 224px;
	height: 30px;
	margin: -5px 18px 0 0;
	padding-top: 10px;
	text-align: center;
}

.active-tab-item a:link, .active-tab-item a:visited {
	text-decoration: none;
	color: rgb(51, 51, 51);
}

.frame-area {
	margin: 51px 0 0 0;
	padding: 10px 10px 0 10px;
	background: rgb(235, 235, 235);
}

.links-list {
	display: inline-block;
}

.links-list:hover .links-action-list {
	display: block;
}

.active-link {
	width: 190px;
	height: 30px;
	padding: 0 0 0 10px;
	background: white;
	display: inline-block;
}

.active-link a {
	line-height: 30px;
}

.active-link a:link, .active-link a:visited {
	text-decoration: none;
	color: rgb(110, 110, 110);
}

.active-link::after {
	content: url(../img/icons/arrow.png);
	float: right;
	padding: 5px;
}

.links-action-list {
	margin: 0;
	padding: 5px;
	list-style: none;
	text-align: left;
	display: none;
	position: absolute;
	width: 190px;
	background: white;
	transition: height 2s;
	-webkit-transition: height 2s;
}

.link-item {
	background: white;
	border-bottom: 1px solid lightgrey;
	padding: 5px;
}

.link-item:last-child {
	border: none;
	padding: 5px 5px 0 5px;
}

.link-item a:link, .link-item a:visited {
	text-decoration: none;
	color: rgb(110, 110, 110);
}

#settings-icon {
	display: none;
}

#settings {
	float: right;
	padding: 5px 5px 0 5px;
	text-align: center;
}

.expand-icon {
	float: right;
	margin: 5px 5px 8px 0;
	background: url(../img/icons/expand.png) no-repeat center center;
	display: block;
	width: 20px;
	height: 20px;
}

.settings-form {
	display: none;
	position: absolute;
	width: 930px;
	margin: 4px 0 0 0;
	box-shadow: 5px 5px 5px 0 lightgrey;
	background: white;
}

.settings-form .row {
	margin: 10px;
	background: rgb(218, 218, 218);
	line-height: 30px;
	padding: 5px;
}

.row input {
	height: 25px;
	width: 400px;
	vertical-align: middle;
}

#form-save {
	background: black;
	color: white;
	width: 80px;
	height: 25px;
	margin: 10px;
	float: right;
	border: none;
}

#form-cancel {
	background: white;
	color: black;
	text-decoration: underline;
	width: 80px;
	height: 25px;
	margin: 10px;
	float: right;
	border: none;
}

#settings-icon:checked~.settings-form {
	display: block;
}

#settings-icon:checked~#settings {
	background: white;
}

.frame-window {
	width: 100%;
	height: 560px;
	margin: 10px 0 0 0;
	border: none;
	background: white;
}